<div class="well concept">
  <form enctype="multipart/form-data" method="post" {{ form_enctype(form) }}>
    <div class="well">
      {% if concept.id != 0 %}
      <h3><center>{{"caract.id" | trans }} : {{ concept.id }}</center></h3>
      {% endif %}
      {% block specific %}{% endblock %}

      <h3>{{ 'concept.categories' | trans }}</h3>
      <ul id="ul_categories" class="categories" data-prototype="{{ form_widget(form.moreGeneralConceptConcepts.vars.prototype)|e }}">
        <a id="concept_all"></a>
        {% for category in form.moreGeneralConceptConcepts %}
        <li class="category">
          {{ form_errors(category) }}
          {{ form_widget(category) }}
        </li>
        <hr class="separation">
        {% endfor %}
      </ul>

      <h3>{{ 'concept.caracts' | trans }}</h3>
      <ul class="caracts" data-prototype="{{ form_widget(form.caracts.vars.prototype)|e }}">
        {% for caract in form.caracts %}
        <li class="caract">
          <a id="caract_{{caract.vars.value.id}}"></a>
          {{ form_errors(caract) }}
          {{ form_widget(caract) }}
        </li>
        <hr class="separation">
        {% endfor %}
      </ul>
    </div>

    {% if ((concept.type == 'Research') and (concept.id == 0)) %}
    <input type="button" name="run" class="fix-on-middle btn btn-primary" value="{{ 'research.run' | trans }}" onclick="submitIfValid('run')"/>
    {% endif %}

    {% if ((app.user) or (tutorial is defined)) %}
      {% if concept.type == 'Research' %}
      <input type="button" disabled id="save" name="save" class="fix-on-right btn btn-primary" value="{{ 'research.save_and_run' | trans }}" onclick="submitIfValid('save')" />
      {% else %}
      <input type="submit" disabled id="save" class="fix-on-right btn btn-primary" value="{{ 'concept.save' | trans }}" />
      <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" disabled id="reload" class="fix-on-middle btn btn-primary"> {{ 'concept.reload' | trans }} </a>
      {% endif %}

      {% if concept.id != 0 %}
      <a href="{{ path('confirm_delete', {id: concept.id}) }}" class="fix-on-left btn btn-primary"> {{ 'concept.delete' | trans }} </a>
      {% endif %}
    {% endif %}

    {{ form_rest(form) }}
    {{ form_errors(form) }}

  </form>
</div>