<div class="well">
  <form method="post" {{ form_enctype(form) }}>
    {% block specific %}{% endblock %}
    <input type="submit" class="fix btn btn-primary" value="{{ 'Send' | trans }}" />
    
    {% if concept.id != 0 %}
    <a href="{{ path('delete_concept', {id: concept.id})}}" class="fix3 btn btn-primary" value="delete">
  {{ 'Delete' | trans }}
    </a>
    {% endif %}

    <h3>{{ 'Categories' | trans }}</h3>
    <ul class="concepts" data-prototype="{{ form_widget(form.moreGeneralConceptConcepts.vars.prototype)|e }}">
      <a id="concept_all"></a>
      <a href="#concept_all">
        <p class="btn btn-primary">{{ 'fix' | trans }}</p>
      </a>
      {% for concept in form.moreGeneralConceptConcepts %}
      <hr class="separation">
      <li class="concept">
        {{ form_errors(concept) }}
        {{ form_widget(concept) }}
      </li>
      {% endfor %}
    </ul>

    <h3>{{ 'Caracts' | trans }}</h3>
    <ul class="caracts" data-prototype="{{ form_widget(form.caracts.vars.prototype)|e }}">
      {% for caract in form.caracts %}
      <hr class="separation">
      <li class="caract">
        <a id="caract_{{caract.vars.value.id}}"></a>
        {{ form_errors(caract) }}
        {{ form_widget(caract) }}

        <a href="#caract_{{caract.vars.value.id}}">
          <p class="btn btn-primary">{{ 'fix' | trans }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>

    {{ form_rest(form) }}
    {{ form_errors(form) }}

  </form>
</div>
