{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Research' | trans }}
{% endblock %}

{% block TrouveTout %}

<h2>{{ 'research.do' | trans }}</h2>
{% include "TrouveToutBundle:TrouveTout:ResearchForm.html.twig" %}

{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/trouvetout/js/CaractDynamicAdd.js')}}" type="text/javascript"></script>
{% endblock %}
