{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'title.create_concept' | trans }}
{% endblock %}

{% block TrouveTout %}
{{ parent() }}

    {% if conceptType == "Set" %}
        <h2>{{ 'title.add_object' | trans }}</h2>
        {% include "TrouveToutBundle:TrouveTout:SetForm.html.twig" %}
    {% endif %}

    {% if conceptType == "Category" %}
        <h2>{{ 'title.add_category' | trans }}</h2>
        {% include "TrouveToutBundle:TrouveTout:CategoryForm.html.twig" %}
    {% endif %}

    {% if conceptType == "Research" %}
        <h2>{{ 'title.do_research' | trans }}</h2>
        {% include "TrouveToutBundle:TrouveTout:ResearchForm.html.twig" %}
    {% endif %}

{% endblock %}

{% block javascripts %}
        {{ parent() }}
        {% include "TrouveToutBundle:TrouveTout:ConceptFormJavascript.html.twig" %}
{% endblock %}
