{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Create a concept' | trans }}
{% endblock %}

{% block TrouveTout %}

    {% if conceptType == "Set" %}
        <h2>{{ 'Add a object' | trans }}</h2>
        {% include "TrouveToutBundle:TrouveTout:SetForm.html.twig" %}
    {% endif %}
    {% if conceptType == "Category" %}
        <h2>{{ 'Add a category' | trans }}</h2>
        {% include "TrouveToutBundle:TrouveTout:CategoryForm.html.twig" %}
    {% endif %}



{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/trouvetout/js/CaractDynamicAdd.js')}}" type="text/javascript"></script>
{% endblock %}
