{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'home' | trans }}
{% endblock %}

{% block TrouveTout %}

<section>
  <aside>
	<h1>{{ 'General informations' | trans }}'</h1>
	<p>{{ 'License :' | trans }} <a href="http://www.gnu.org/licenses/gpl-3.0.txt">GPLv3</a></p>
	<p>{{ 'Authors :' | trans }} <a href="http://ukratio.org">{{ 'the ucratique community' | trans }}, bergerève</a></p>
	<p>{{ 'Source code :' | trans }} <a href="https://gitorious.org/ukratiotrouvetoutbundle">{{ 'gitorious page' | trans }}</a></p>
	<p>{{ 'creation date: soon' | trans }}</p>
  </aside>
  <article>                
	<h1>{{ 'Trouve tout, find your objects in a few seconds!' | trans}}</h1>
	<p>{{ 'Trouve tout is a free software, dont whose function is to methodically create an inventory of  objects of all kinds, to then be able to find them easily.' | trans }}</p>
  </article>
</section>

{% endblock %}
