{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'title.create_concept' | trans }}
{% endblock %}

{% block class_login %}
class="active"
{% endblock %}
 
{% block TrouveTout %}
{{ parent() }}

  {% if error %}
    <div class="alert alert-error">{{ error.message | trans}}</div>
  {% endif %}
 
  <form action="{{ path('login_check') }}" method="post">
    <label for="username">{{ 'login.login' | trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
 
    <label for="password">{{ 'login.password' | trans }}</label>
    <input type="password" id="password" name="_password" />
    <br />
    <input type="submit" value="Connexion" />
  </form>
 
{% endblock %}
