{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'title.modify_concept' | trans }}
{% endblock %}

{% block TrouveTout %}

    {% if conceptType == "Set" %}
        <h2>{{ 'title.modify_object' | trans }}</h2>
        {% include "TrouveToutBundle:TrouveTout:SetForm.html.twig" %}
    {% endif %}

    {% if conceptType == "Category" %}
        <h2>{{ 'title.modify_category' | trans }}</h2>
        {% include "TrouveToutBundle:TrouveTout:CategoryForm.html.twig" %}
    {% endif %}

    {% if conceptType == "Research" %}
        <h2>{{ 'title.modify_research' | trans }}</h2>
        {% include "TrouveToutBundle:TrouveTout:ResearchForm.html.twig" %}
    {% endif %}

{% endblock %}


{% block javascripts %}
        {{ parent() }}
        {% include "TrouveToutBundle:TrouveTout:ConceptFormJavascript.html.twig" %}
{% endblock %}
