{% extends "TrouveToutBundle:TrouveTout:createConcept.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'title.research' | trans }}
{% endblock %}

{% block TrouveTout %}

<table>
  <th valign="top" align="left">
    <div>
      {{ parent() }}
    </div>
  </th>

  <th valign="top">
    {% if researchResults is defined %}
    <table class="table table-bordered">
      <caption> {{ 'research.table.name' | trans({'%researchedType%': ("research.table." ~ research.researchedType) | lower | trans}) }}</caption>

      <colgroup>
        <col span="{{ researchResults.columnGroups[0] + 1 }}" style="background-color:yellow">
        <col span="{{ researchResults.columnGroups[1] }}" style="background-color:Aqua">
        <col span="{{ researchResults.columnGroups[2] }}" style="background-color:Orchid">
      </colgroup>

      <th>
        {{ 'research.table.ID' | trans }}
      </th>
      {% for header in researchResults.headers %}
      <th>
        {{ header | trans}}
      </th>
      {% endfor %}

      {% for conceptLine in researchResults.conceptLines %}
      <tr>
        <td>
          {% if conceptLine.concept.type == 'Research' %}
          <a href="{{ path('run_with_id_research', {id: conceptLine.concept.id}) }}">
            {{ conceptLine.concept.id }}
          </a>
          {% else %}
          <a href="{{ path('edit_concept', {conceptId: conceptLine.concept.id}) }}">
            {{ conceptLine.concept.id }}
          </a>
          {% endif %}
        </td>

        {% for value in conceptLine.line %}
        <td>
          {% if value is iterable %}
            {% if value[1] == 'date' %}
              {{ value[0] | date('d/m/Y H:i') }}
            {% elseif value[1] == 'object' %}
              {{ value[0] }}
            {% elseif value[1] == 'categories' %}
              {% for category in value[0] %}
                 <a href="{{ path('edit_concept', {conceptId: category.getId()}) }}">{{ category.getName() }}</a>, 
              {% endfor %}
            {% else %}
              {{ value[0] }}
            {% endif %}
          {% else %}
            {{ value }}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>

    {% if research.id != 0 %}
    <a href="{{ path('run_with_id_research', {id: research.id})}}" class="fix-on-left btn btn-primary" value="run">
      {{ 'research.run_again' | trans }}
    </a>
    {% endif %}
  </th>
    {% endif %}
</table>
{% endblock %}

