{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Recherche
{% endblock %}

{% block TrouveTout %}

<table class="table-bordered">
  <caption> {{ 'research table' | trans({'%researchedType%': research.researchedType | trans | lower}) }}</caption>

  <colgroup>
    <col span="{{ researchResults.columnGroups[0] + 1 }}" style="background-color:yellow">
    <col span="{{ researchResults.columnGroups[1] }}" style="background-color:Aqua">
    <col span="{{ researchResults.columnGroups[2] }}" style="background-color:Orchid">
  </colgroup>

  <th>
    {{ 'ID' | trans }}
  </th>
  {% for header in researchResults.headers %}
  <th>
    {{ header | trans}}
  </th>
  {% endfor %}

  {% for conceptLine in researchResults.conceptLines %}
  <tr>
    <td>
      <a href="{{ path('edit_concept', {id: conceptLine.concept.id}) }}">
        {{ conceptLine.concept.id }}
      </a>
    </td>

    {% for value in conceptLine.line %}
    <td>
      {{ value }}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% if research.id != 0 %}
<a href="{{ path('run_with_id_research', {id: research.id})}}" class="fix2 btn btn-primary" value="run">
  {{ 'Run research again' | trans }}
</a>
<a href="{{ path('edit_concept', {id: research.id})}}" class="fix btn btn-primary" value="run">
  {{ 'Modify research' | trans }}
</a>
{% endif %}

{% endblock %}

