{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'title.tools_ok' | trans }}
{% endblock %}

{% block TrouveTout %}

<h2>{{ 'tools.success' | trans }}</h2>

{% if type == 'researches' %}
{{ number }} {{ 'tools.deleted.researches' | trans }}
{% endif %}

{% if type == 'elements' %}
{{ number }} {{ 'tools.deleted.elements' | trans }}
{% endif %}

{% if type == 'specificities' %}
{{ number }} {{ 'tools.computed.specificities' | trans }}
{% endif %}

{% endblock %}
