{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'title.tools' | trans }}
{% endblock %}

{% block class_tools %}
class="active"
{% endblock %}

{% block TrouveTout %}

<form action="{{ path('delete_unamed_researches') }}" method="post">
<input type="submit" class="btn" value="{{'tools.delete.researches' | trans}}">
</form>

<form action="{{ path('delete_orphan_elements') }}" method="post">
<input type="submit" class="btn" value="{{'tools.delete.elements' | trans}}">
</form>

<form action="{{ path('compute_specificities') }}" method="post">
<input type="submit" class="btn" value="{{'tools.compute.specificities' | trans}}">
</form>

{% endblock %}
