{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'title.upload_picture' | trans }}
{% endblock %}

{% block TrouveTout %}
<form method="post" {{ form_enctype(form) }}>
  {{ form_widget(form) }} 
  <input type="submit" class="btn btn-primary" value="envoyer" />
</form>

{% if imageName is defined %}
<p> {{ 'upload_picture.success' | trans }} </p>
<a href="{{ asset('img/')}}{{imagePath}}{{imageName}}">
<img src="{{ asset('img/')}}{{imagePath}}{{imageName}}" alt="uploaded image" height="42" width="42"> 
</a> 
{% endif %}

{% if invalideType is defined %}
<p> {{ 'upload_picture.fail' | trans }}<br>
  {{ 'upload_picture.wrong_type' | trans }} {{invalideType}}
</p>
{% endif %}

{% endblock %}
