{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'Upload' | trans }}
{% endblock %}

{% block TrouveTout %}
<form method="post" {{ form_enctype(form) }}>
  {{ form_widget(form) }} 
  <input type="submit" class="btn btn-primary" value="envoyer" />
</form>

{% if imageName is defined %}
<p> {{ 'Upload successful!' | trans }} </p>
<a href="{{ asset('img/')}}{{imageName}}">
<img src="{{ asset('img/')}}{{imageName}}" alt="uploaded image" height="42" width="42"> 
</a> 
{% endif %}

{% if invalideType is defined %}
<p> {{ 'Upload has fail!' | trans }}<br>
  {{ 'Wrong type of file:' | trans }} {{invalideType}}
</p>
{% endif %}

{% endblock %}
