{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Trouve tout
{% endblock %}

{% block body %}

  <h1> trouve tout ! </h1>
  	<menu>
		<a href="{{ path('home') }}" class="btn">
			<i class="icon-chevron-left"></i>
            {{ 'home' | trans }}
		</a>
		<a href="{{ path('create_set') }}" class="btn">
			<i class="icon-edit"></i>
            {{ 'Add a object' | trans }}
		</a>
		<a href="{{ path('create_category') }}" class="btn">
			<i class="icon-edit"></i>
            {{ 'Add a category' | trans }}
		</a>
		<a href="{{ path('upload') }}" class="btn">
			<i class="icon-edit"></i>
            {{ 'Upload a image' | trans }}
        </a>
		<a href="{{ path('create_research') }}" class="btn">
			<i class="icon-edit"></i>
            {{ 'Do a research' | trans }}
        </a>
		<a href="{{ path('tools') }}" class="btn">
			<i class="icon-edit"></i>
            {{ 'tools' | trans }}
        </a>
	</menu>
  {% block TrouveTout %}{% endblock %}

{% endblock %}
  
{% block javascripts %}
{{ parent() }}

<script src="{{ asset('bundles/trouvetout/js/jquery-1.9.1.min.js') }}"></script>

{% endblock %}
  
  
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/trouvetout/css/styles.css') }}" type="text/css" />
{% endblock %}
