{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Trouve tout
{% endblock %}

{% block body %}

  <h1> trouve tout ! </h1>
  	<menu>
		<a href="{{ path('home') }}" class="btn">
            {{ 'menu.home' | trans }}
		</a>
		<a href="{{ path('create_set') }}" class="btn">
            {{ 'menu.add_object' | trans }}
		</a>
		<a href="{{ path('create_category') }}" class="btn">
            {{ 'menu.add_category' | trans }}
		</a>
		<a href="{{ path('upload') }}" class="btn">
            {{ 'menu.upload_picture' | trans }}
        </a>
		<a href="{{ path('create_research') }}" class="btn">
            {{ 'menu.do_research' | trans }}
        </a>
		<a href="{{ path('tools') }}" class="btn">
            {{ 'menu.tools' | trans }}
        </a>
        <a href="{{ path('tutorial_introduction') }}" class="btn">
            {{ 'menu.tutorial' | trans }}
        </a>
        {% if app.user %}
		<a href="{{ path('logout') }}" class="btn">
            {{ 'menu.logout' | trans }}
        </a>
        {% else %}
		<a href="{{ path('login') }}" class="btn">
            {{ 'menu.connection' | trans }}
        </a>        
        {% endif %}
	</menu>
  {% block TrouveTout %}{% endblock %}

{% endblock %}
  
{% block javascripts %}
{{ parent() }}

    <script src="{{ asset('bundles/trouvetout/js/jquery-1.9.1.js') }}"></script>
    {% include 'TrouveToutBundle:TrouveTout:phpTojs.js.twig' %}

{% endblock %}
  
  
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/trouvetout/css/styles.css') }}" type="text/css" />
{% endblock %}
