{% extends "TrouveToutBundle:Tutorial:layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'title.add_category' | trans }}
{% endblock %}

{% block title_header %}
  {{ parent() }} - {{ 'tutorial.summary.create_category_1' | trans({}, 'tutorial') }}
{% endblock %}

{% block TrouveTout %}
{{ parent() }}

<section>
  <p>{{ 'tutorial.add_category2.modify_category' | trans({}, 'tutorial') }}</p>
  <p>{{ 'tutorial.add_category2.new_category' | trans({}, 'tutorial') }}</p>
</section>

<section class="tuto-simulation">
  {% set link = {'button': 'add_category', 'target': path('tutorial_create_category_wardrobe') } %}
  {% include 'TrouveToutBundle:Tutorial:menu.html.twig' with {'link': link} %}
  <h2>{{ 'title.modify_category' | trans }}</h2>
  {% include "TrouveToutBundle:TrouveTout:CategoryForm.html.twig" %}
</section>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% include "TrouveToutBundle:TrouveTout:ConceptFormJavascript.html.twig" %}
  <script type="text/javascript">
  $().ready(function () {});
  </script>
{% endblock %}
