{% extends "TrouveToutBundle:Tutorial:layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'title.add_category' | trans }}
{% endblock %}

{% block title_header %}
  {{ parent() }} - {{ 'tutorial.summary.type_of_concepts' | trans({}, 'tutorial') }}
{% endblock %}

{% block TrouveTout %}
{{ parent() }}

<section>
  <p>{{ 'tutorial.add_category.three_concepts' | trans({}, 'tutorial') }}</p>
  <dl>
    <dt>{{ 'tutorial.add_category.objects_concept_term' | trans({}, 'tutorial') }}</dt>
    <dd>{{ 'tutorial.add_category.objects_concept_definition' | trans({}, 'tutorial') }}</dd>
    <dt>{{ 'tutorial.add_category.categories_concept_term' | trans({}, 'tutorial') }}</dt>
    <dd>{{ 'tutorial.add_category.categories_concept_definition' | trans({}, 'tutorial') }}</dd>
    <dt>{{ 'tutorial.add_category.researches_concept_term' | trans({}, 'tutorial') }}</dt>
    <dd>{{ 'tutorial.add_category.researches_concept_definition' | trans({}, 'tutorial') }}</dd>
  </dl>
  <p>{{ 'tutorial.add_category.first_step' | trans({}, 'tutorial') }}</p>
</section>

<section class="tuto-simulation">
  {% set link = {'button': 'add_category', 'target': path('tutorial_create_category_furniture') } %}
  {% include 'TrouveToutBundle:Tutorial:menu.html.twig' with {'link': link} %}
</section>

{% endblock %}
