{% extends "TrouveToutBundle:Tutorial:layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'add_category' | trans }}
{% endblock %}

{% block TrouveTout %}
{{ parent() }}

<section>
  <p>{{ 'tutorial.add_category2.modify_category' | trans({}, 'tutorial') }}</p>
  <p>{{ 'tutorial.add_category2.new_category' | trans({}, 'tutorial') }}</p>
</section>

<section>
  {% set link = {'button': 'add_category', 'target': path('tutorial_create_category_object') } %}
  {% include 'TrouveToutBundle:Tutorial:menu.html.twig' with {'link': link} %}
  <h2>{{ 'Modify a category' | trans }}</h2>
  {% include "TrouveToutBundle:TrouveTout:CategoryForm.html.twig" %}
</section>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% include "TrouveToutBundle:TrouveTout:ConceptFormJavascript.html.twig" %}
{% endblock %}
