{% extends "TrouveToutBundle:Tutorial:layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'congratulation' | trans }}
{% endblock %}

{% block TrouveTout %}
{{ parent() }}

<section>
  <p>{{ 'tutorial.congratulation' | trans({}, 'tutorial') }}</p>
  <a href="{{ path(route) }}" class="btn">
    {{ 'next' | trans }}
  </a>
</section>

{% endblock %}

