{% extends "TrouveToutBundle:Tutorial:layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'create_category_dishes' | trans }}
{% endblock %}

{% block TrouveTout %}
{{ parent() }}

<section>
  <p>{{ 'tutorial.create_category_dishes.add_category_object' | trans({}, 'tutorial') }}</p>
</section>

<section>
  {% set link = {'button': '', 'target': '' } %}
  {% include 'TrouveToutBundle:Tutorial:menu.html.twig' with {'link': link} %}
  <h2>{{ 'Add a category' | trans }}</h2>
  {% include "TrouveToutBundle:TrouveTout:CategoryForm.html.twig" %}
</section>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% include "TrouveToutBundle:TrouveTout:ConceptFormJavascript.html.twig" %}
  {% if error is defined %}
  <script type="text/javascript">
  $().ready(function () { alert("{{ error | trans({}, 'tutorial' )}}");});
  </script>
  {% endif %}
{% endblock %}
