{% extends "TrouveToutBundle:Tutorial:layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'create_category_object' | trans }}
{% endblock %}

{% block TrouveTout %}
{{ parent() }}

<section>
  <p>{{ 'tutorial.create_category_object.goal' | trans({}, 'tutorial') }}</p>
  <p>{{ 'tutorial.create_category_object.characteristic' | trans({}, 'tutorial') }}</p>
  <p>{{ 'tutorial.create_category_object.composition' | trans({}, 'tutorial') }}</p>
  <ul>
    <li> <p>{{ 'tutorial.create_category_object.composition_picture' | trans({}, 'tutorial') }}</p> </li>
    <li> <p>{{ 'tutorial.create_category_object.composition_localization' | trans({}, 'tutorial') }}</p> </li>
  </ul>

  <p>{{ 'tutorial.create_category_object.four_step' | trans({}, 'tutorial') }}</p>
  <ul>
    <li> <p>{{ 'tutorial.create_category_object.step_name' | trans({}, 'tutorial') }}</p> </li>
    <li> <p>{{ 'tutorial.create_category_object.step_image' | trans({}, 'tutorial') }}</p> </li>
    <li> <p>{{ 'tutorial.create_category_object.step_localization' | trans({}, 'tutorial') }}</p> </li>
    <li> <p>{{ 'tutorial.create_category_object.step_send' | trans({}, 'tutorial') }}</p> </li>
  </ul>
</section>

<section>
  {% set link = {'button': '', 'target': '' } %}
  {% include 'TrouveToutBundle:Tutorial:menu.html.twig' with {'link': link} %}
  <h2>{{ 'Add a category' | trans }}</h2>
  {% include "TrouveToutBundle:TrouveTout:CategoryForm.html.twig" %}
</section>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% include "TrouveToutBundle:TrouveTout:ConceptFormJavascript.html.twig" %}
  {% if error is defined %}
  <script type="text/javascript">
  $().ready(function () { alert("{{ error | trans({}, 'tutorial' )}}");});
  </script>
  {% endif %}
{% endblock %}
