{% extends "TrouveToutBundle:Tutorial:layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'title.introduction' | trans }}
{% endblock %}

{% block TrouveTout %}
{{ parent() }}

<p><strong>{{ 'tutorial.introduction.welcome' | trans({}, 'tutorial') }}</strong></p>
<p>{{ 'tutorial.introduction.approach' | trans({}, 'tutorial') }}</p>
<p>{{ 'tutorial.introduction.logged' | trans({}, 'tutorial') }}</p>
<p>{{ 'tutorial.introduction.no_save' | trans({}, 'tutorial') }}</p>
<p>{{ 'tutorial.introduction.next' | trans({}, 'tutorial') }}</p>

<a href="{{ path('tutorial_add_category') }}" class="btn">
  {{ 'tutorial.next' | trans }}
</a>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
  
  
{% block stylesheets %}
{{ parent() }}
{% endblock %}
