{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - {{ 'Tutorial' | trans }}
{% endblock %}

{% block TrouveTout %}
{{ parent() }}

<h2>{{ 'tutorial' | trans }}</h2>
{% endblock %}
  
{% block javascripts %}
  {{ parent() }}
  {% include "TrouveToutBundle:TrouveTout:ConceptFormJavascript.html.twig" %}
  {% if error is defined %}
  <script type="text/javascript">
  $().ready(function () { alert("{{ error | trans({}, 'tutorial' )}}");});
  </script>
  {% endif %}
{% endblock %}
  
  
{% block stylesheets %}
{{ parent() }}
{% endblock %}
