{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - {{ 'title.tutorial' | trans }}
{% endblock %}

{% block class_tutorial %}
class="active"
{% endblock %}

{% block TrouveTout %}
{{ parent() }}

<h2>{{ 'title.tutorial' | trans }}{% block title_header %}{% endblock %}</h2>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% include "TrouveToutBundle:TrouveTout:ConceptFormJavascript.html.twig" %}
  {% if error is defined %}
  <script type="text/javascript">
  $().ready(function () { alert("{{ error | trans({}, 'tutorial' )}}");});
  </script>
  {% endif %}
{% endblock %}


{% block stylesheets %}
{{ parent() }}
{% endblock %}
