<h1> trouve tout ! </h1>
<menu>
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'menu.home' | trans }}
  </a>

  {% if link.button == "add_object" %}
  <a href="{{ link.target }}" class="btn">
    <strong>{{ 'menu.add_object' | trans }}</strong>
  </a>
  {% else %}
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'menu.add_object' | trans }}
  </a>
  {% endif %}

  {% if link.button == "add_category" %}
  <a href="{{ link.target }}" class="btn">
    <strong>{{ 'menu.add_category' | trans }}</strong>
  </a>
  {% else %}
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'menu.add_category' | trans }}
  </a>  
  {% endif %}

  {% if link.button == "upload_picture" %}
  <a href="{{ link.target }}" class="btn">
    <strong>{{ 'menu.upload_picture' | trans }}</strong>
  </a>
  {% else %}
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'menu.upload_picture' | trans }}
  </a>
  {% endif %}

  {% if link.button == "do_research" %}
  <a href="{{ link.target }}" class="btn">
    <strong>{{ 'menu.do_research' | trans }}</strong>
  </a>
  {% else %}
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'menu.do_research' | trans }}
  </a>
  {% endif %}


  {% if link.button == "tools" %}
  <a href="{{ link.target }}" class="btn">
    <strong>{{ 'menu.tools' | trans }}</strong>
  </a>
  {% else %}
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'menu.tools' | trans }}
  </a>
  {% endif %}

  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'menu.tutorial' | trans }}
  </a>
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'menu.logout' | trans }}
  </a>
</menu>
