<h1> trouve tout ! </h1>
<menu>
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'home' | trans }}
  </a>

  {% if link.button == "add_object" %}
  <a href="{{ link.target }}" class="btn">
    <strong>{{ 'Add a object' | trans }}</strong>
  </a>
  {% else %}
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'Add a object' | trans }}
  </a>
  {% endif %}

  {% if link.button == "add_category" %}
  <a href="{{ link.target }}" class="btn">
    <strong>{{ 'Add a category' | trans }}</strong>
  </a>
  {% else %}
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'Add a category' | trans }}
  </a>  
  {% endif %}

  {% if link.button == "upload_image" %}
  <a href="{{ link.target }}" class="btn">
    <strong>{{ 'Upload a image' | trans }}</strong>
  </a>
  {% else %}
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'Upload a image' | trans }}
  </a>
  {% endif %}

  {% if link.button == "do_research" %}
  <a href="{{ link.target }}" class="btn">
    <strong>{{ 'Do a research' | trans }}</strong>
  </a>
  {% else %}
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'Do a research' | trans }}
  </a>
  {% endif %}


  {% if link.button == "tools" %}
  <a href="{{ link.target }}" class="btn">
    <strong>{{ 'tools' | trans }}</strong>
  </a>
  {% else %}
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'tools' | trans }}
  </a>
  {% endif %}

  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'tutorial' | trans }}
  </a>
  <a href="" class="btn" onclick="alert('{{'tutorial.wrong_button' | trans({}, 'tutorial')}}')">
    {{ 'logout' | trans }}
  </a>
</menu>
