{% extends "TrouveToutBundle:Tutorial:layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'tutorial.create_category_dishes.title' | trans({}, 'tutorial') }}
{% endblock %}

{% block TrouveTout %}
{{ parent() }}

<section>
  <p>{{ 'tutorial.modify_category_dishes.added_caracts' | trans({}, 'tutorial') }}</p>
  <p>{{ 'tutorial.modify_category_dishes.caract_properties' | trans({}, 'tutorial') }}</p>
  
  <ol>
    <li>
      <strong>{{ 'tutorial.modify_category_dishes.caract.name.term' | trans({}, 'tutorial') }}</strong>
      {{ 'tutorial.modify_category_dishes.caract.name.definition' | trans({}, 'tutorial') }}
    </li>
    <li>
      <strong>{{ 'tutorial.modify_category_dishes.caract.type.term' | trans({}, 'tutorial') }}</strong>
      {{ 'tutorial.modify_category_dishes.caract.type.definition' | trans({}, 'tutorial') }}
    </li>
    <li>
      <strong>{{ 'tutorial.modify_category_dishes.caract.value.term' | trans({}, 'tutorial') }}</strong>
      {{ 'tutorial.modify_category_dishes.caract.value.definition' | trans({}, 'tutorial') }}
    </li>
  </ol>
  
  <p>{{ 'tutorial.modify_category_dishes.five_caracts' | trans({}, 'tutorial') }}</p>
  <dl>
    <dt>{{ 'tutorial.modify_category_dishes.caract_type.name.term' | trans({}, 'tutorial') }}</dt>
    <dd>{{ 'tutorial.modify_category_dishes.caract_type.name.definition' | trans({}, 'tutorial') }}</dd>
    <dt>{{ 'tutorial.modify_category_dishes.caract_type.number.term' | trans({}, 'tutorial') }}</dt>
    <dd>{{ 'tutorial.modify_category_dishes.caract_type.number.definition' | trans({}, 'tutorial') }}</dd>
    <dt>{{ 'tutorial.modify_category_dishes.caract_type.picture.term' | trans({}, 'tutorial') }}</dt>
    <dd>{{ 'tutorial.modify_category_dishes.caract_type.picture.definition' | trans({}, 'tutorial') }}</dd>
    <dt>{{ 'tutorial.modify_category_dishes.caract_type.object.term' | trans({}, 'tutorial') }}</dt>
    <dd>{{ 'tutorial.modify_category_dishes.caract_type.object.definition' | trans({}, 'tutorial') }}</dd>
    <dt>{{ 'tutorial.modify_category_dishes.caract_type.text.term' | trans({}, 'tutorial') }}</dt>
    <dd>{{ 'tutorial.modify_category_dishes.caract_type.text.definition' | trans({}, 'tutorial') }}</dd>
  </dl>

  <p>{{ 'tutorial.modify_category_dishes.value_heritage' | trans({}, 'tutorial') }}</p>
  <p>{{ 'tutorial.modify_category_dishes.value_heritage_avantages' | trans({}, 'tutorial') }}</p>
  <p>{{ 'tutorial.modify_category_dishes.goal' | trans({}, 'tutorial') }}</p>
  <p>{{ 'tutorial.modify_category_dishes.enter_inherited_value' | trans({}, 'tutorial') }}</p>

  <ol>
    <li>{{ 'tutorial.modify_category_dishes.enter.matter' | trans({}, 'tutorial') }}</li>
    <li>{{ 'tutorial.modify_category_dishes.enter.metal' | trans({}, 'tutorial') }}</li>
    <li>{{ 'tutorial.modify_category_dishes.enter.stainless' | trans({}, 'tutorial') }}</li>
  </ol>

  <p>{{ 'tutorial.modify_category_dishes.generalize' | trans({}, 'tutorial') }}</p>

</section>

<section>
  {% set link = {'button': '', 'target': '' } %}
  {% include 'TrouveToutBundle:Tutorial:menu.html.twig' with {'link': link} %}
  <h2>{{ 'Modify a category' | trans }}</h2>
  {% include "TrouveToutBundle:TrouveTout:CategoryForm.html.twig" %}
</section>

{% endblock %}
