{% extends "TrouveToutBundle:Tutorial:layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'title.upload_wardrobe_picture' | trans }}
{% endblock %}

{% block title_header %}
  {{ parent() }} - {{ 'tutorial.summary.upload_picture' | trans({}, 'tutorial') }}
{% endblock %}

{% block TrouveTout %}
{{ parent() }}

<section>
  <p>{{ 'tutorial.upload_wardrobe_picture.steps' | trans({}, 'tutorial') }}</p>

  <p>{{ 'tutorial.upload_wardrobe_picture.category' | trans({}, 'tutorial') }}</p>

  <p>{{ 'tutorial.upload_wardrobe_picture.goal' | trans({}, 'tutorial') }}</p>
</section>

<section class="tuto-simulation">
  {% set link = {'button': '', 'target': '' } %}
  {% include 'TrouveToutBundle:Tutorial:menu.html.twig' with {'link': link} %}

  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="envoyer" />
  </form>
</section>

{% endblock %}

