{% extends 'form_div_layout.html.twig' %}

{% block TrouveTout_Element_widget %}
{% spaceless %}
{{ parent() }}

<div class="enligne">
  {% for child in form.children %}
  {% if child.name == 'childElement' %}
  {{ form_row(child) }}
  {% endif %}
  {% endfor %}
</div>

<div class="enligne">
  {{ form_rest(form) }}
</div>

{% endspaceless %}
{% endblock %}

{% block TrouveTout_Caract_widget %}
{% spaceless %}
{{ parent() }}

{{ form_row(form.name) }}
{{ form_row(form.type) }}
{% if form.value is defined %}
{{ form_row(form.value) }}
{% endif %}


{% if image is defined %}
<img src="{{ asset('img/')}}{{image}}" alt="caract image: {{image}}" height="100" width="100">
{% endif %}

{% if objects is defined %}
{% for object in objects %}
<a href="{{ path('edit_concept', {id: object.id}) }}">{{object.name}}</a>/
{% endfor %}
{% endif %}

<div class="enligne">
{% if form.prefix is defined %}
  {{ form_row(form.prefix) }}
  {{ form_row(form.unit) }}
{% endif %}
</div>

{{ form_rest(form) }}
{% endspaceless %}
{% endblock %}

{% block TrouveTout_ConceptConcept_widget %}
{% spaceless %}
{{ parent() }}

{{ form_row(form.moreGeneral) }}

{% if categoryName is defined %}
<a href="{{ path('edit_concept', {id: categoryId}) }}">{{categoryName}}</a>
{% endif %}

{{ form_rest(form) }}
{% endspaceless %}
{% endblock %}


{% macro addPrototype(context) %}

data-prototype_specify_name="{{ form_row(context.prototype_specify_name) | trans({}, context.translation_domain)}}"
data-prototype_specify_number="{{ form_row(context.prototype_specify_number) | trans({}, context.translation_domain)}}"
data-prototype_specify_picture="{{ form_row(context.prototype_specify_picture) | trans({}, context.translation_domain)}}"
data-prototype_specify_object="{{ form_row(context.prototype_specify_object) | trans({}, context.translation_domain)}}"
data-prototype_specify_text="{{ form_row(context.prototype_specify_text) | trans({}, context.translation_domain)}}"

{% endmacro %}

{% block TrouveTout_Set_enctype %}
{% import _self as __self %}
{% spaceless %}
{{ parent() }}
{{ __self.addPrototype(_context) }}
{% endspaceless %}
{% endblock %}

{% block TrouveTout_Category_widget %}
{% import _self as __self %}
{% spaceless %}
{{ parent() }}
{{ __self.addPrototype(_context) }}
{% endspaceless %}
{% endblock %}

{% block TrouveTout_Research_widget %}
{% import _self as __self %}
{% spaceless %}
{{ parent() }}
{{ __self.addPrototype(_context) }}
{% endspaceless %}
{% endblock %}
