{% extends 'form_div_layout.html.twig' %}

{% block TrouveTout_Element_widget %}
{% spaceless %}
{{ parent() }}

<div class="enligne" id="childValueDiv">
  {% if form.childValue is defined%}
  {{ form_row(form.childValue) }}
  {% endif %}
</div>

<div class="enligne" id="valueDiv">
  {{ form_row(form.value) }}
</div>

<div class="enligne" id="restDiv">
  {{ form_rest(form) }}
</div>

{% endspaceless %}
{% endblock %}

{% block TrouveTout_Caract_widget %}
{% spaceless %}
{{ parent() }}


<div class="enligne">
{% endspaceless %}
{{ form_row(form.name) }} {{ form_row(form.type) }}
{% spaceless %}
</div>



{% if form.value is defined %}
{{ form_row(form.value) }}
{% else %}
<div>
  <label class="required">{{'Value' | trans}}</label>
  <div id="childValueDiv" class="enligne">
  </div>
  <div id="valueDiv" class="enligne">
  </div>
  <div id="restDiv" class="enligne">
  </div>
</div>
{% endif %}
{{ form_errors(form) }}


{% if image is defined %}
<img src="{{ asset('img/')}}{{image}}" alt="caract image: {{image}}" height="100" width="100">
{% endif %}

{% if objects is defined %}
{% for object in objects %}
<a href="{{ path('edit_concept', {id: object.id}) }}">{{object.name}}</a>/
{% endfor %}
{% endif %}

<div class="enligne">
{% if form.prefix is defined %}
  {{ form_row(form.prefix) }}
  {{ form_row(form.unit) }}
{% endif %}
</div>

{% if form.selected is defined %}
<div class="enligne">
{{ form_row(form.selected) }}
</div>
{% endif %}

{% if form.byDefault is defined %}
<div class="enligne">
{{ form_row(form.byDefault) }}
</div>
{% endif %}

{% if form.specificity is defined %}
<div class="enligne">
{{ form_row(form.specificity) }}
</div>
{% endif %}

{{ form_rest(form) }}
{% endspaceless %}
{% endblock %}

{% block TrouveTout_ConceptConcept_widget %}
{% spaceless %}
{{ parent() }}

{{ form_row(form.moreGeneral) }}

{% if categoryName is defined %}
<div>
<a href="{{ path('edit_concept', {id: categoryId}) }}">{{categoryName}}</a>
</div>
{% endif %}

{{ form_rest(form) }}
{% endspaceless %}
{% endblock %}


{% macro addPrototype(context) %}

data-prototype of child value name="{{ form_row(context.prototypeOfChildValueName) | trans({}, context.translation_domain)}}"
data-prototype of child value number="{{ form_row(context.prototypeOfChildValueNumber) | trans({}, context.translation_domain)}}"
data-prototype of child value picture="{{ form_row(context.prototypeOfChildValuePicture) | trans({}, context.translation_domain)}}"
data-prototype of child value object="{{ form_row(context.prototypeOfChildValueObject) | trans({}, context.translation_domain)}}"
data-prototype of child value text="{{ form_row(context.prototypeOfChildValueText) | trans({}, context.translation_domain)}}"

data-prototype of value name="{{ form_row(context.prototypeOfValueName) | trans({}, context.translation_domain)}}"
data-prototype of value number="{{ form_row(context.prototypeOfValueNumber) | trans({}, context.translation_domain)}}"
data-prototype of value picture="{{ form_row(context.prototypeOfValuePicture) | trans({}, context.translation_domain)}}"
data-prototype of value object="{{ form_row(context.prototypeOfValueObject) | trans({}, context.translation_domain)}}"
data-prototype of value text="{{ form_row(context.prototypeOfValueText) | trans({}, context.translation_domain)}}"

data-prototype of owner element="{{ form_row(context.prototypeOfOwnerElement) | trans({}, context.translation_domain)}}"

{% endmacro %}

{% block TrouveTout_Set_enctype %}
{% import _self as __self %}
{% spaceless %}
{{ parent() }}
{{ __self.addPrototype(_context) }}
{% endspaceless %}
{% endblock %}

{% block TrouveTout_Category_enctype %}
{% import _self as __self %}
{% spaceless %}
{{ parent() }}
{{ __self.addPrototype(_context) }}
{% endspaceless %}
{% endblock %}

{% block TrouveTout_Research_enctype %}
{% import _self as __self %}
{% spaceless %}
{{ parent() }}
{{ __self.addPrototype(_context) }}
{% endspaceless %}
{% endblock %}
